   PORT=5000
   DATABASE_URL=postgres://postgres:kaynes@localhost:5432/kaynesvcard
   JWT_SECRET=NDoSgqUNKJ2rhasOQCPs1RbSOMEsecretTjMTKQ20b0xsJet95O1g=
   SUPERUSER_USERNAME=superdev@superuser.com
   SUPERUSER_PASSWORD_HASH=passwordbycrypthash
   SUPERUSER_TOTP_SECRET=googleauthenticationsecretkey
   SU_AUDIT_LOG=su_audit.logsuaduitlogaddressNotinDB


      # Server Configuration
   PORT=5000

   # Database Configuration
   DATABASE_URL=postgres://postgres:kaynes@localhost:5432/kaynesvcard

   # Web Token
   JWT_SECRET=NDoSgqUNKJ2rhasOQCPs1RbTjMTKQ20b0xsJet95O1g=

   # SMTP Configuration for Backup Notifications
   BACKUP_EMAIL_USER=kaynesdigicard@gmail.com
   BACKUP_EMAIL_PASS=jkii bbww gewa kuia
   BACKUP_EMAIL_SERVICE=gmail
   BACKUP_EMAIL_FROM=kaynesdigicard@gmail.com
   BACKUP_EMAIL_HOST=smtp.gmail.com


   # SU Config
   SUPERUSER_USERNAME=superdev@superuser.com
   SUPERUSER_PASSWORD_HASH=$2b$10$ZUczAzzyK3.qGf24LOmn2u3KjDlliikQsN87ADEPNu58hekDE7pvu
   SUPERUSER_TOTP_SECRET=JBSWY3DPEHPK3PXP
   SU_AUDIT_LOG=su_audit.log


   